<template>
  <b-container fluid>
    <Listagem  v-bind:consultas="consultas" />
  </b-container>
</template>

<script>
import Listagem from "../components/Listagem.vue";
import ConsultasService from "../services/consultas.service";

export default {
  name: "consultas",
  components: {
    Listagem
  },
  data() {
    return {
      user: {},
      consultas: [],
    };
  },
  methods: {
    retrieveConsultas() {
      ConsultasService.getAllConsultas()
        .then(response => {
          this.consultas = response.data.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.user = JSON.parse(localStorage.getItem("user"));
  },
  mounted() {
    this.retrieveConsultas();
  }
};
</script>