<template>
  <b-container fluid class="consulta-details">
    <b-row>
      <b-col>
          <b-button pill variant="outline-info" @click="$router.go(-1)" class="mb-3"> Voltar</b-button>
        <b-card>
          <b-card-header>
            <b-card-title>Paciente: {{consulta.paciente}}</b-card-title>
            <b-card-sub-title>Data: {{consulta.dataConsulta}}</b-card-sub-title>
          </b-card-header>

          <b-card-body>
            <b-card-text>
              <h5>Observações:</h5>
              <p>{{consulta.observacao}}</p>
            </b-card-text>

            <b-row align-h="between">
              <b-col cols="6">
                Responsável:
                <strong>{{consulta.medico.nome}}</strong>
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ConsultasService from "../services/consultas.service";

export default {
  name: "consulta-details",
  data() {
    return {
      consulta: {
        medico: {}
      }
    };
  },
  methods: {
    getConsulta(id) {
      ConsultasService.getConsultaById(id)
        .then(response => {
          this.consulta = response.data.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.getConsulta(this.$route.params.id);
  }
};
</script>

<style lang="scss" scoped>
 .back-btn {
   margin-bottom: 10px;
 }
</style>