<template>
  <div class="container">    
    <NovaConsultaForm />
  </div>
</template>

<script>
import NovaConsultaForm from "../components/NovaConsultaForm.vue";

export default {
  name: 'nova-consulta',
    components: {
    NovaConsultaForm
  },
  data() {
    return {
      user: {},
    };
  },
  created() {
    this.user = JSON.parse(localStorage.getItem("user"));
  },
  methods: {
  }
};
</script>