<template>
  <b-navbar toggleable="lg" type="light" variant="light" class="mt-0">
    <b-navbar-brand href="https://www.conexasaude.com.br/">
      <img src="@/assets/img/logo-conexa.svg" alt="logo" />
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item-dropdown text="Consultas">
          <b-dropdown-item :to="{ path: '/consultas'}">Listar</b-dropdown-item>
          <b-dropdown-item :to="{ path: '/nova-consulta'}">Nova Consulta</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <template v-slot:button-content>
            <em>{{user.nome}}</em>
          </template>
          <b-dropdown-item href="#" @click="logout">Log out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
export default {
  name: "Nav",
  data() {
    return {
      user: {}
    };
  },
  created() {
    this.user = JSON.parse(localStorage.getItem('user'));
  },
  methods: {
    // Log the user out
    logout() {
      this.$emit("logout", true);
    }
  }
};
</script>
<style lang="scss" scoped>
nav {
  margin-top: 25px;
  margin-bottom: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #d88d00;
    }
  }
}
</style>