<template>
  <b-row>
    <b-col cols="4" v-for="consulta in consultas" :key="consulta.id" style="margin-bottom: 20px">
      <b-card class="card-consulta">
        <b-card-header header-bg-variant="transparent">
          <b-card-title>Paciente: {{consulta.paciente}}</b-card-title>
          <b-card-sub-title>Data: {{consulta.dataConsulta}}</b-card-sub-title>
        </b-card-header>

        <b-card-body>
          <b-card-text>
            <h5>Observações:</h5>
            {{consulta.observacao}}
          </b-card-text>
          <b-card-text>Responsável: {{consulta.medico.nome}}</b-card-text>
          <b-button variant="outline-info" :to="'/consulta/' + consulta.id" style="float: right">Detalhar</b-button>
        </b-card-body>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "Listagem",
  props: ["consultas"]
};
</script>

<style lang="scss" scoped>
 .card-consulta {
   border-radius: 10px;
 }
</style>