<template>
  <div id="novaConsultaForm">
    <b-form>
      <b-form-group id="input-group-1" label="Data da Consulta:" label-for="datepicker">
        <b-form-datepicker
          id="datepicker"
          placeholder="Seleciona a data da consulta"
          v-model="form.dataConsulta"
          :min="min"
          :state="dateValidator"
          required
        ></b-form-datepicker>
      </b-form-group>

      <b-form-group id="timepicker-group" label="Horário da Consulta:" label-for="timepicker">
        <b-form-timepicker
          id="timepicker"
          :state="timeValidator"
          placeholder="Selecione o horário da consulta"
          v-model="time"
        ></b-form-timepicker>
      </b-form-group>

      <b-form-group id="input-group-2" label="Identificação do Médico:" label-for="input-2">
        <b-form-input
          id="input-2"
          type="number"
          v-model="form.idMedico"
          required
          placeholder="ID Médico"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Paciente:" label-for="input-3">
        <b-form-input id="input-2" v-model="form.paciente" required placeholder="Nome do paciente"></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="Observação:" label-for="input-4">
        <b-form-textarea
          id="input-4"
          v-model="form.observacao"
          required
          placeholder="Observações"
          rows="3"
          max-rows="8"
        ></b-form-textarea>
      </b-form-group>

      <b-row align-h="between">
        <b-col cols="7">
          <b-button @click="onSubmit" variant="success">Salvar</b-button>
        </b-col>
        <b-col cols="5" align-self="end" class="text-right">
          <b-button @click="onReset" variant="secondary">Limpar Formulário</b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
import moment from "moment";
import ConsultasService from "../services/consultas.service";

export default {
  name: "NovaConsultaForm",
  data() {
    const now = new Date();
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    const minDate = new Date(today);
    return {
      dateValidator: null,
      timeValidator: null,
      min: minDate,
      user: {},
      time: "",
      form: {
        dataConsulta: "",
        idMedico: null,
        observacao: "",
        paciente: ""
      }
    };
  },
  methods: {
    onSubmit() {
      if (!this.form.dataConsulta) {
        return (this.dateValidator = false);
      }
      if (!this.time) {
        return (this.timeValidator = false);
      }

      this.form.dataConsulta = moment(`${this.form.dataConsulta} ${this.time}`).toISOString();
      this.form.idMedico = parseInt(this.form.idMedico);

      ConsultasService.createConsulta(this.form)
        .then(response => {

          this.makeToast(
            "Sucesso",
            "Consulta cadastrada com sucesso!",
            "success"
          );

          console.log(response);

          this.onReset();
        }).catch(e => {
          this.makeToast(
            "Erro",
            "Não foi possível cadastrar a consulta nesse momento :(",
            "danger"
          );
          console.error(e);
        });
    },
    onReset() {
      this.form.dataConsulta = "";
      this.form.idMedico = null;
      this.form.paciente = "";
      this.form.observacao = "";
      this.time = "";
      this.dateValidator = null;
      this.timeValidator = null;
    },
    makeToast(title, message, variant) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 4000,
        appendToast: false
      });
    }
  },
  updated() {
    if (this.form.dataConsulta) {
      this.dateValidator = true;
    }

    if (this.time) {
      this.timeValidator = true;
    }
  }
};
</script>
