<template>
  <div id="app">
    <Nav id="nav" v-if="authenticated" @logout="logout" />
    <router-view @authenticated="setAuthenticated" />
  </div>
</template>
<script>
import Nav from "./components/partials/Nav.vue";
import LoginService from "./services/login.service";

export default {
  name: "App",
  components: {
    Nav
  },
  data() {
    return {
      authenticated: false
    };
  },
  mounted() {
    if (!this.authenticated) {
      if (this.$route.name !== "login") {
        this.$router.replace({ name: "login" });
      }
    }
  },
  methods: {
    setAuthenticated(status) {
      this.authenticated = status;
    },
    logout() {
      LoginService.logout();
      this.$router.push("/login");
      this.authenticated = false;
    }
  }
};
</script>
<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>